.AppBar {
  background-color: darkblue;
  /*Darkbackgroundcolor*/
  margin-bottom: 0%;


  -o-border-radius: 15px;
  bottom: 0;
  position: absolute;
  width: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}

.AppBar {
  margin-bottom: 0%;
  position: absolute;
  width: 100%;

  justify-content: space-between;
  background-color: #333;
  background: #333;
}